.new-arrivals{
	padding: 140px 0;
	background: darken(#fff, 10%);

	.arrivals-top-block{
		
		text-align: center;
	}

	h1 {
		font-weight: bolder;
	}
	.og-color {
		color: orange;
	}

	.arrivals-bottom-block {

		.inner {
			padding: 10px;
			overflow: hidden;

			&:hover img{
				transform:scale(2);
				transition: all ease-in-out 2.2s;
			}

			img{
				transform:scale(1);
			}
		}
	}
	
}