.services {
	padding: 100px 0;
	background: darken(#fff, 5%);

	h3 {
		font-size: 15px;
		color:lighten(#333, 30%);
	}

	h1 {
		font-family: Playfair Display;
		font-weight: bolder;
		color: darken(#000, 50%);
	}

	p {
		max-width: 550px;
		margin: 0 auto;
		color:lighten(#333, 30%);
	}

	#all {
		background: red;
	}

	#branding {
		background:orange;
	}

	#packaging {
		background: green;
	}

	#print {
		background:purple;
	}

	#web {
		background: yellow;
	}

	#design {
		background:blue;
	}
	.inner {
		padding: 10px;
		position: relative;


		&:hover .shadow {
			transform:scale(1);
		}
	}

	.nav {
		max-width: 650px;
    	margin: 0 auto;
    	padding: 30px 0;
	}

	.nav-item {

		a {
			transition:all linear .5s;

			&:hover {
				color: green;
				border-top: 2px solid green;
				padding-top: 15px;
			}
		}
	}

	.shadow {
		position: absolute;
		top: 10px;
		right: 10px;
		left: 10px;
		bottom: 10px;
		display: block;
		transition: all linear .5s;
		transform:scale(0);
		background: #eee;
		color: darken(red, 40%);
		font-size: 10px;
		font-weight: bolder;
		padding: 10px;

		strong{
			position: absolute;
			top: 50px;
			// transform:translate(0,-50%);
			// display: block;
			font-size: 10px;
			left: 0;
			right: 0;
			text-align: center;
		}
		span {
			position: absolute;
			top: 60px;
			// transform:translate(0,-40%);
			font-size:9px;
			left: 0;
			right: 0;
			text-align: center;
			padding-top: 4px;

		}

	}

	.load-more {

		text-align: center;
		a {
			padding: 15px;
			display: inline-block;
			color: darken(#000, 40%);
			font-weight: bold;
			text-decoration: none;

			&:hover {
				color: green;
				cursor: pointer;
			}
		}
	}

	@media (max-width: 767px){
		img {
			width: 100%;
		}
	}

}